global:
  scrape_interval: 5s

scrape_configs:
- job_name: "spark"
  static_configs:
  - targets: ["localhost:8080"]

- job_name: "kafka"
  static_configs:
  - targets: ["localhost:9092"]

- job_name: "postgres"
  static_configs:
  - targets: ["localhost:5432"]
